@import "tailwindcss";
@theme {
  --color-primary-green: #198754;
  --color-gray-text: #4d5a68;
  --color-primary-white: #f5f7ff;
  --color-primary-blue: #001b36;
  --color-primary-brown: #4f4f4f;
  --color-secondary-gray: #828282;
}
